{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Занятия на {{ schedule_info.0.event_date }}{% endblock %}

{% block content %}
<h2 class="row justify-content-around">Добавление записи расписания</h2><br>
<div class="row justify-content-around">
        <div class="col-sm-6 col-lg-5">
<form action="." method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-success">Добавить</button>
    <a class="btn btn-dark" href=" {% url 'schedule:calendar' %}">Назад</a>
<!--    <button class="btn btn-warning" onclick="redirect()">Сохранить и добавить еще</button>-->
</form>



        </div>
</div>
{% endblock %}

<!--<script>-->
<!--   var redirect = function(){-->
<!--   document.location.href="http://127.0.0.1:8000/schedule_add/"-->
<!--}-->
<!--</script>-->