{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Расписание на неделю{% endblock %}

{% block content %}
<div class="container">
<div align="center">
<br>
    <form>
        {{ form }}
        <button class="btn btn-light">Выбрать</button>
    </form>
<br>
    </div>

    <table class="table table-bordered">
        {#    <caption>#}
        {#        Расписание на неделю {{ days.0|date:"d.m" }} - {{ days.-1|date:"d.m" }}#}
        {#    </caption>#}
        <thead>
        <tr>
            <th>Время занятий</th>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th>Суббота</th>
            <th>Воскресенье</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            {% for date in dates_of_week %}
                <td>{{ date|date:"d.m" }}</td>
            {% endfor %}
        </tr>
        {% for time, schedule_lines_dict in time_dict.items %}
            <tr>
                <td>{{ time }}</td>
                {% for schedule_lines in schedule_lines_dict.values %}
                    {% if schedule_lines.exists %}
                        <td>
                            {% for schedule_line in schedule_lines %}
                                <a href="{% url 'schedule:event_detail' schedule_line.id %}">{{ schedule_line.short_name }}</a>
                                <br>
                            {% endfor %}
                        </td>

                    {% else %}
                        <td>----</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-dark" href=" {% url 'schedule:calendar' %}">Назад</a>
</div>
{% endblock %}